= require_syntax_css 'twilight'

%h1= @repo.pkg.name
= image_tag @repo.pkg.logo.url

%p
  %b Name:
  =h @repo.username

- unless @repo.empty?
  %h2 PKGBUILD
  =# link_to "Edit",
  = c(@repo.pkgbuild.data, :theme => 'twilight')
  // @repo.pkgbuild_code
  %h2 Install
  =# c(@repo.install.data, :theme => 'twilight')
  %h2 Patches

- else
Repo empty.

%br
= link_to 'Edit', edit_repo_path(@repo)
= link_to 'Back', repos_path
