<h1>Editing pkg</h1>

<% form_for(@pkg) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :maintainer %><br />
    <%= f.text_field :maintainer %>
  </p>
  <p>
    <%= f.label :repo %><br />
    <%= f.text_field :repo %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @pkg %> |
<%= link_to 'Back', pkgs_path %>
