<p>
  <b>Name:</b>
  <%=h @pkg.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @pkg.desc %>
</p>

<p>
  <b>Maintainer:</b>
  <%=h @pkg.maintainer %>
</p>

<p>
  <b>Repo:</b>
  <%=h @pkg.repo %>
</p>


<%= link_to 'Edit', edit_pkg_path(@pkg) %> |
<%= link_to 'Back', pkgs_path %>
