
- if logged_in?
  = link_to 'Fork', fork_pkg_path(@pkg)


= image_tag @pkg.logo.url
= image_tag @pkg.logo.url(:thumb)


%p
  %b Name:
  =h @pkg.name

%p
  %b Desc:
  =h @pkg.desc

- if logged_in?
  %p
    - for repo in @pkg.repos
      = link_to repo.username, repo


= link_to 'Edit', edit_pkg_path(@pkg)
= link_to 'Back', pkgs_path
