
= image_tag @pkg.logo.url
= image_tag @pkg.logo.url(:medium)
= image_tag @pkg.logo.url(:thumb)


%p
  %b Name:
  =h @pkg.name

%p
  %b Desc:
  =h @pkg.desc


%p
  - for repo in @pkg.repos
    = link_to repo.user.name, repo


= link_to 'Edit', edit_pkg_path(@pkg)
= link_to 'Back', pkgs_path
