<h1>New install</h1>

<% form_for(@install) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pkg %><br />
    <%= f.text_field :pkg %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.check_box :code %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', installs_path %>
