!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
    %title= "ArX - #{controller.controller_name}"
    = stylesheet_link_tag 'application', 'menu' , 'icons', 'topbar'
    = javascript_include_tag(:defaults)
    = yield :header
    %link{ :href => "/images/favicon.png", :rel => "shortcut icon" }/
  %body
    #page
      = render "layouts/topmenu"
      #body
        #content
          = yield :content_header
          =# display_flashes
          #content_default
            = yield
      = render "layouts/footer"
